.file-uploader {
  display: flex;
  justify-content: center;
  align-items: center;

  div.content {
    padding: 8px 64px 48px 64px;
    border: 4px solid #173b45;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    background-color: white;
    input[type='file'] {
      display: none;
    }

    .drop-zone {
      display: flex;

      .image-container {
        margin-top: 32px;
        padding: 64px;
        border: 4px dashed #ff8225;
        border-radius: 20px;
        background-color: #fff2e9;
        width: 100%;
        display: flex;
        justify-content: center;

        .image {
          height: 140px;
        }
      }

      .decoration {
        display: block;
        position: relative;
        img {
          position: absolute;
        }
      }

      .decoration::before {
        left: -130px;
        top: 100px;
        rotate: -30deg;
      }

      .decoration.left > img {
        left: -130px;
        top: 100px;
        rotate: -30deg;
      }

      .decoration.right > img {
        rotate: -170deg;
        top: 30px;
        left: -40px;
      }
    }

    .drop-zone.active {
      .image-container {
        border: 4px solid #3fa34d;
        background-color: #c0f7c8;

        .image {
          height: 140px;
          visibility: collapse;
        }
      }

      .decoration {
        visibility: hidden;
      }
    }

    .upload-button-container {
      margin-top: 32px;
      display: flex;
      justify-content: end;
    }

    .secondary {
      color: #ff8225;
    }
  }
}
