.progress-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .progress-bar {
    background-color: #173b45;
    width: 100%;
    height: 4px;
    margin: 16px;
    border-radius: 25px;

    .progress {
      background-color: #ff8225;
      height: 100%;
      transition: width 200ms ease-in-out;
      transition-timing-function: ease-out;
    }
  }
}
